{% extends "quake/mainbase.html" %}
{% block content %}

<table class="table table-bordered"s>
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Magnitude</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
    {% for l in listdata %}
        <tr>
            <td>{{l.date}}</td>
            <td>{{l.magnitude}}</td>
            <td>{{l.epicentre}}</td>
        {% endfor %}
        </tr>
    </tbody>
</table>

{% if listdata.has_other_pages %}
  <ul class="pagination">
    {% if listdata.has_previous %}
      <li><a href="?page={{ listdata.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in listdata.paginator.page_range %}
      {% if listdata.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if listdata.has_next %}
      <li><a href="?page={{ listdata.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}